Repository bradjohnson79/magi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @magi-dev-team, @magi-architects, @magi-devops, @magi-backend-team, @magi-frontend-team, @magi-ai-team

.github/CODEOWNERS:

# Global owners
* @magi-dev-team

# Core architecture and infrastructure
/prisma/ @magi-architects @magi-dev-team
/lib/db/ @magi-architects @magi-dev-team
/.github/workflows/ @magi-devops @magi-dev-team
/vercel.json @magi-devops @magi-dev-team

# Guardrails and architecture docs
/guardrails/ @magi-architects
/ARCHITECTURE.md @magi-architects
/README.md @magi-dev-team

# API routes
/app/api/ @magi-backend-team @magi-dev-team

# Frontend components
/components/ @magi-frontend-team @magi-dev-team
/app/dashboard/ @magi-frontend-team @magi-dev-team

# AI and services
/services/ @magi-ai-team @magi-dev-team
/lib/ai-matrix/ @magi-ai-team @magi-dev-team

Fix vercel.json configuration conflict
  vercel.json
Owners: @magi-devops, @magi-dev-team

Remove env section from vercel.json
  vercel.json
Owners: @magi-devops, @magi-dev-team

Fix Prisma client generation for Vercel deployment
  package.json
  vercel.json
Owners: @magi-dev-team, @magi-devops

Fix missing dependencies and import paths
  package.json
  pnpm-lock.yaml
  services/workspace/manager.ts
Owners: @magi-dev-team, @magi-ai-team

Make build bulletproof for Vercel deployment
  eslint.config.mjs
  lib/observability/otel.ts
  logs/magi-dev-0.log
  logs/magi-dev-error-0.log
  logs/magi-dev-out-0.log
  next.config.ts
  package.json
  pnpm-lock.yaml
  services/tracing/setup.ts
Owners: @magi-dev-team, @magi-ai-team

Fix ESLint no-explicit-any & no-unused-vars in utils
  lib/types/security.ts
  lib/utils/encryption.ts
  lib/utils/secretRedaction.ts
Owners: @magi-dev-team
